{% extends "base.html" %}
{% block content %}
<h2>Все услуги/товары</h2>
<form class="form form-search" method="get">
    <input type="search" placeholder="Поиск" name="query">
    <button type="submit">Поиск</button>
</form>
{% if service_list %}
<ul>
  {% for service in service_list %}
      <div class="card" style="width: 18rem;">
        <img src="/media/{{ service.service_img }}" class="card-img-top" alt="Изображение">
        <div class="card-body">
          <a href="{% url 'polls:separate_service' service.id %}">Название: {{ service.service_name }}</a>
          <p>Описание: {{ service.description_service }} </p>
        </div>
      </div>
  {% endfor %}
</ul>
{% else %}
  <p>Нет услуг/товаров</p>
{% endif %}
{% endblock %}